[submodule "electronics/kicad_libs_k"]
	path = electronics/kicad_libs_k
	url = https://gitlab.com/konstruktiv_berlin/kicad_libs_k.git
[submodule "electronics/teensy.pretty"]
	path = electronics/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty.git
[submodule "electronics/teensy_library"]
	path = electronics/teensy_library
	url = https://github.com/XenGi/teensy_library.git
